{
  "openapi": "3.0.1",
  "info": {
    "title": "NSW Point V3",
    "description": "The technical documentation for NSW Point V3 APIs provides detailed content about the individual API functionalities for end users and developers.\r\n\r\nThe following is provided for each API:\r\n- Primary input specifications\r\n- Output details\r\n- Best practices for implementation\r\n- Request, parameter and response specifications\r\n- Features for testing API functionality\r\n\r\n\r\n### Getting Started:\r\n\r\nTo request access to NSW Point V3 APIs complete the [Access Request Form](https://do6azroidhmm1.cloudfront.net/v3/docs/pages/access-request-form.html)\r\n\r\n\r\n### Authentication:\r\n\r\nWhen your access request has been granted, you will be supplied with an API key that can be used for authentication. This API key must be supplied in the request header called \"x-api-key.\"\r\nYour API key is required as a token to authenticate your calls to your API calls.\r\n\r\n**Example:**\r\nFor instance, if your API key is `123abc` you would add a request header:\r\n\r\n`x-api-key: 123abc` \r\n\r\n### NSW Point V3 spatial data and relationships\r\n\r\nThe relationships between cadastral parcels, properties and addresses across both state and national datasets can be extremely complex. This is a result of the scope and complexity of land title and property management systems, and of differing state and territory processes that have developed independently, prior to the guidance of governance that enforces a national standard.\r\n\r\nDCS Spatial Services have worked extensively with our national data partner Geoscape, to ensure that the FSDI output provided by NSW Point services is “fit for purpose” and meets the expectations and requirements of NSW government. However, the innate complexity of the individual source datasets and their relationships, may result in scenarios that cannot be accounted for, potential data errors, and/or unique issues that fall through the cracks. If you believe you have found an issue in data supplied by one of our services, we are keen to understand and investigate it, [contact us.](https://point.digital.nsw.gov.au/v3/docs/pages/contact-us.html)\r\n\r\n### Attribution \r\n\r\nAPI responses will contain a legal `attribution` string for the data returned, which links to the terms and conditions of usage. An example of this is as follows:\r\n\r\n```json\r\n\"Use of this data is subject to the NSW Point V3 Terms of Use. Data is subject to copyright (https://point.digital.nsw.gov.au/v3/docs/pages/terms-of-use.html)\"\r\n\r\n```\r\n",
    "version": "2024-03-19T02:03:58Z"
  },
  "servers": [
    {
      "url": "https://point.digital.nsw.gov.au/v3",
      "description": ""
    }
  ],
  "paths": {
    "/api/property": {
      "get": {
        "parameters": [
          {
            "name": "propertyId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The identifier to search. Either a Geoscape persistent propertyPid, or a jurisdictional identifier"
          },
          {
            "name": "stateFilter",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ACT",
                "NSW",
                "NT",
                "OT",
                "QLD",
                "SA",
                "TAS",
                "VIC",
                "WA"
              ],
              "example": "NSW"
            },
            "description": "Required when submitting a jurisdiction propertyId. Must include a single state abbreviation value to identify the correct source dataset of the propertyId."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 999,
              "default": 0,
              "example": 10
            },
            "description": "Used for implementing pagination of results during application implementation. Assists in defining 'Next', 'Previous' and 'Self' links."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 1,
              "example": 10,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Used for implementing pagination of results during application implementation. Defines the maximum number of results to request from the API per page."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asgsMain",
                "asgsRemoteness",
                "commonwealthElectorate",
                "localGovernmentArea",
                "parcelBundle",
                "seifa",
                "stateElectorateBundle"
              ]
            },
            "in": "query",
            "name": "additionalProperties",
            "description": "A comma-separated list of additional properties to be included in the response. E.g. asgsMain, localGovernmentArea, stateElectorateBundle."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "<https://www.opengis.net/def/crs/EPSG/0/4283>",
                "<https://www.opengis.net/def/crs/EPSG/0/7844>",
                "<https://www.opengis.net/def/crs/EPSG/0/4326>",
                "<https://www.opengis.net/def/crs/EPSG/0/4202>"
              ],
              "default": "<https://www.opengis.net/def/crs/EPSG/0/4283>",
              "example": "<https://www.opengis.net/def/crs/EPSG/0/7844>"
            },
            "in": "header",
            "name": "Accept-Crs",
            "description": "Use this header to define the Coordinate Reference System (CRS) that you would like the API to return your response in. "
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "gnaf",
                "continuousAddress"
              ],
              "example": "continuousAddress"
            },
            "in": "query",
            "name": "dataset",
            "description": "Allows you to nominate the dataset that related addresses will be returned from. Use of this parameter will not effect validation of the propertyId itself only the return of related addresses."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "example": "true"
            },
            "in": "query",
            "name": "excludeAliases",
            "description": "When enabled, this parameter prevents the return of alias addresses that are related to a propertyId. Use of this parameter will not effect validation of the propertyId itself only the return of related addresses."
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "arn:aws:apigateway:ap-southeast-2:lambda:path/2015-03-31/functions/arn:aws:lambda:ap-southeast-2:930692708828:function:suggest-alpha/invocations",
          "passthroughBehavior": "when_no_match"
        },
        "x-stoplight": {
          "id": "zw90k1g5pitwy"
        },
        "summary": "Property",
        "description": "The Property API allows you to validate a State or National property reference (e.g. the NSW Valuer General's Property ID) and return a variety of information about the validated property, including:\r\n\r\n- A unique identifier (contributorId) that links to the NSW Foundation Cadastral data.\r\n- A unique identifier (propertyPid) that links to Geoscape's National Property dataset.\r\n- A list of all cadastral parcels included in the property description.\r\n- Date created/modified.\r\n- Related addresses, cadastral parcel details, and administrative boundary information.\r\n\r\n> The property data served via this API is sourced from Geoscape’s National Property Product. This dataset is updated monthly due to the current constraints of jurisdiction supply chains. Future enhancements aim to include more frequent updates to data currency\r\n\r\n# Benefits\r\n\r\nIntegration of the Property API into government systems and databases enables seamless access to authoritative property, and property-related information for decision-making processes. This offers the benefits and insights that can be derived from spatial data without the necessity and overhead of maintaining an independent GIS system.\r\n\r\n**Features of the Property API include:**\r\n\r\n- Authoritative foundation spatial data sourced from Australia’s States and Territories. \r\n- Access to comprehensive address information for each validated property.\r\n- Configurable parameters that allow the service to be customised to your use case e.g. filter by state or alias address type, customisable Coordinate Reference Systems (CRS), define the additional information you would like included in the API response. \r\n- Administrative boundaries (Local Government Areas, State and Federal Electoral Divisions, ASGS Meshblock, Remoteness, SEIFA information).\r\n- Pagination functionality to assist in managing large volumes of property address information.\r\n\r\n# Implementation and Best Practice\r\n\r\n## API Behaviour\r\n\r\nThis API requires the input of a property Id as a reference as a single string (e.g.`propertyId=2043147`). It returns a JSON response with a `propertyBundle` object that contains information about the validated property. \r\n\r\nBy default, the API will also return a single address related to the property where one can be found. The address and its attributes will be returned in an embedded GeoJSON `Feature Collection` object.\r\n\r\n### Properties with multiple addresses\r\n\r\nMany Australian properties have multiple addresses. Some examples of properties with more than one address include: retirement villages, residential villages, residential or commercial apartment blocks, and private residences with a secondary dwelling. The Property API reports the total number of addresses associated with a property using the `numberMatched` attribute of the `links` object in the API response.\r\n\r\nIf required, the API can be customised to return all addresses for a validated property. However, as the number of addresses may be substantial and could impact the response size, it is advisable to implement pagination to effectively manage the data. *(Refer to the section on pagination in ‘Customising the request for your application’ for more details.)*\r\n\r\n## Input Format\r\n\r\nThe API is capable of validating both **jurisdictional** (State-supplied) Property Ids and **national** (Geoscape-generated) Identifiers using the one `propertyId` parameter.\r\n\r\nPlease refer to the appropriate section below depending upon your use case and the source of your input Property Id.\r\n\r\n### Jurisdictional Property Id Validation (State-supplied)\r\n\r\nWhen seeking to validate a State-supplied property Id (such as the NSW Valuer General's Property Id used for NSW land valuation and ratings purposes); the `stateFilter` parameter **must** be included in the request. This alleviates the risk of incorrect validation where jurisdiction-supplied identifiers are duplicated, by ensuring that the Property Id is validated against the correct jurisdiction dataset.\r\n\r\n>Jurisdiction Property Id's are also included in NSW Point API responses. They can be found in the `propertyBundle` under the name: `contributorId` and in the properties of address objects under the name `contributorPropertyId`.\r\n\r\nExample of a request that includes a jurisdiction Property Id:\r\n`https://point.digital.nsw.gov.au/v3/api/property?propertyId=2043147&stateFilter=NSW`\r\n\r\nFor more information on the ‘stateFilter’ parameter, refer to the State and Territory Filtering section below.\r\n\r\nFor more information on NSW Land Valuation and Property Systems, please visit: https://www.nsw.gov.au/departments-and-agencies/department-of-planning-housing-and-infrastructure/nsw-valuer-general\r\n\r\n### National Property Id Validation (Geoscape-generated)\r\n\r\nGeoscape are the creators and maintainers of the national property dataset. They aggregate property data received from each jurisdiction to form a single property product, see Geoscape Property Intelligence for more information: https://geoscape.com.au/solutions/property-intelligence/.\r\n\r\nThe Geoscape property dataset includes a persistent identifier (propertyPid) that is assigned to each record.\r\n\r\nOur NSW Point Property API accepts and validates Geoscape propertyPids. When submitting a propertyPid for validation, it is not necessary to include the stateFilter parameter in the request because these identifiers are unique.\r\n\r\nExample of a request that includes a Geoscape propertyPid:\r\n`https://point.digital.nsw.gov.au/v3/api/property?propertyId=prpb1bbf7129cf1`\r\n\r\nFor more detailed information on the Geoscape Property Product, please refer to: https://docs.geoscape.com.au/en/stable/property.html\r\n\r\n## Customising the request for your application\r\n\r\nIt is possible to customise the API request based on your project or application requirements.\r\n\r\nThe following optional parameters are available:\r\n\r\n### Pagination of API results\r\n\r\nThe Property API includes functionality to assist in implementing pagination of results in a web application.\r\n\r\nThis functionality is valuable when a property includes a large number of related addresses, as it allows you to request the addresses in smaller, more manageable batches. This reduces the API response time and enables you to control the number of addresses displayed per page.\r\n\r\nThe input parameters: `limit` and `offset` can be used to manage the maximum number of address records to return per page, and the starting record. Whilst the `links` object in the API response includes the following information:\r\n\r\n- `numberMatched` – The total number of addresses that are related to the parcel.\r\n- `numberReturned` – The number of addresses returned in the current response.\r\n- `self` – A generated URL that can be used to refresh the currently requested record set.\r\n- `next` – A generated URL that can be used request the next record set from the total records.\r\n- `previous` – A generated URL that can be used request the previous record set from the total records.\r\n\r\n**Pagination parameters:**\r\n\r\n- `limit` - Sets the maximum number of addresses to return in a single request. The range is 1-1000 and the default is 1.\r\n- `offset` - Identifies the starting record that should be returned by the API. The range is 0-999 and the default is 0.\r\n\r\n**Example of a request using pagination:** \r\n\r\n`https://point.digital.nsw.gov.au/v3/api/property?propertyId=prp812e7f8b8b26&limit=10&offset=0`\r\n\r\n**Example of the links section of the response for the above request:** \r\n```json\r\n\"links\": {\r\n        \"numberMatched\": 105,\r\n        \"numberReturned\": 10,\r\n        \"self\": \"/v3/api/property?propertyId=prp812e7f8b8b26&offset=0&limit=10\",\r\n        \"next\": \"/v3/api/property?propertyId=prp812e7f8b8b26&offset=10&limit=10\"\r\n    }\r\n```\r\n\r\n### State/Territory Filtering\r\n\r\nThe `stateFilter` parameter is used to restrict the API to one specific Australian state or territory. Unlike other NSW Point V3 APIs, the stateFilter in the Property API only accepts a single unique state reference, this is to ensure that the correct jurisdictional dataset is queried.\r\n\r\nIf you are attempting to validate a state-supplied `propertyId`, you **must** include this parameter in your request. \r\n\r\nExample: `stateFilter=NSW`\r\n\r\n### Address Dataset Filtering\r\n\r\nThe `dataset` parameter allows you to restrict the dataset from which related addresses are returned. This can be useful when you only want to return authoritative addresses for validated ‘propertyId’s’.\r\n\r\n**Dataset options include:**\r\n\r\n - **GNAF** – The most comprehensive national address dataset that includes *authoritative* and *non-authoritative* addresses from multiple contributors (updated quarterly) e.g. `dataset=gnaf` \r\n- **GNAF Live/Geoscape continuousAddress** – The most current *authoritative* address dataset (updated daily from the Australian State and Territory address jurisdictions) e.g. `dataset=continuousAddress` \r\n\r\nIf no dataset is specified in your request, addresses will be returned from all datasets. \r\n\r\n### Alias/Principal Address Filtering\r\n\r\nThe `excludeAliases` parameter allows you to force the exclusion of alias addresses from the Property API (e.g. addresses where `\"aliasPrincipal\": \"ALIAS\"`).\r\n\r\n**Alias addresses** are non-authoritative addresses that have been provided by an address contributor or determined programmatically. For example, “10-12 SMITH STREET\" could be an alias for the principal address: “10 SMITH STREET”.\r\n\r\nBy default, alias addresses are included in the API response. If you *do not* want to receive alias addresses, you must set the ‘excludeAliases’ value to ‘true’.\r\n\r\nUse of the 'excludeAliases' parameter will not restrict the validation of the input `propertyId`. It will only limit the type of addresses that might be returned with the validated ‘propertyId’.\r\n\r\n*Accepted values:* \r\n\r\n- **true**: Excludes alias addresses from the response, only addresses with an `\"aliasPrincipal\": \"PRINCIPAL\"` will be returned. \r\n- **false** (default): Includes both ALIAS and PRINCIPAL addresses in the response. \r\n\r\nExample: `excludeAliases=True`\r\n\r\n### Requesting additional properties for address locations\r\n\r\nThe API includes functionality that allows you to request a variety of other information related to the physical address location. These items are requested using the optional parameter `additionalProperties`.\r\n\r\n*Accepted values:*\r\n\r\n- `asgsMain` \r\n- `asgsRemoteness` \r\n- `commonwealthElectorate`\r\n- `parcelBundle`\r\n- `localGovernmentArea` \r\n- `seifa`\r\n- `stateElectorateBundle`\r\n\r\nExample: `additionalProperties=stateElectorateBundle,localGovernmentArea`\r\n\r\n***Note:** The contents of ‘propertyBundle’ are returned in the default response by this API. Therefore it is not available as an 'additionalProperties' option.* \r\n\r\nFor more information on 'additionalProperties' values and administrative boundary data, please refer to our [Additional Properties Knowledgebase Article](https://point.digital.nsw.gov.au/v3/docs/pages/knowledge-base.html#additional-properties).\r\n\r\n### Requesting Geographic Coordinates in a Different Reference System\r\n\r\nThe API can be configured to return the geographic coordinates in the response using the `Accept-Crs` parameter in your request header. \r\n\r\nThe following Coordinate Reference Systems are supported: \r\n\r\n**Supported CRS** | **Parameter Value**\r\n---------|----------\r\n**GDA2020** | `<https://www.opengis.net/def/crs/EPSG/0/7844>`\r\n**GDA94**| `<https://www.opengis.net/def/crs/EPSG/0/4283>`\r\n**WGS84** | `<https://www.opengis.net/def/crs/EPSG/0/4326>`\r\n**AGD66** | `<https://www.opengis.net/def/crs/EPSG/0/4202>` \r\n\r\nExample: `Accept-Crs=<https://www.opengis.net/def/crs/EPSG/0/7844>` \r\n\r\nYou can find more information about EPSG codes and preferred transformations in NSW here: https://www.spatial.nsw.gov.au/__data/assets/pdf_file/0020/230429/Common_Australian_EPSG_Codes_and_Transformations_Information_Sheet.pdf\r\n\r\n## Suggestions for implementation\r\n\r\n### Data Complexity - A Word of Caution!\r\n\r\nThe relationships between cadastral parcels, properties, and addresses in Australia are complex. Generally, most parcels have one related property and at least one address. However, there are various edge cases and scenarios within the data that can affect this outcome.\r\n\r\nSome known examples in NSW data that may impact the Property API include:\r\n\r\n- **Properties that do not return related address information** - A significant number of NSW properties may not have been assigned a complete address by the authority responsible for addressing them. Examples of this include rail corridors, parks, reserves, vacant land or government owned properties. In the even that a propertyId is validated but does not include any addresses in the response, this is the most likely cause.\r\n- **Stratum Properties** - The NSW Cadastre currently provides a 2D representation of cadastral parcels that are at 'ground level' only. Any properties related to parcels that are found above or below ground level may not be validated using the NSW Point Property API. Examples of potentially affected properties include: underground mining leases, underground car parks or basement levels, and developments that include properties positioned in the airspace above ground level.\r\n- **Properties with ambiguous parcel or address relationships** - Some properties may have more than one related parcel or primary or secondary address record. These ambiguous relationships can have unforeseen impacts on the expected behaviour of the API.\r\n\r\nIf you have any concerns or questions regarding the impact of these scenarios on your application, please [contact our support team](https://point.digital.nsw.gov.au/v3/docs/pages/contact-us.html) for advice.\r\n\r\n### Handling for special characters \"^\" and \"%\"\r\n\r\nThe following special characters, `^` and `%`, are considered \"unsafe\" for use in URLs. Including these characters will result in an error in the client’s browser, preventing the request from being sent to the NSW Point Server. \r\n\r\nThis issue can occur in any input field on a web form where users can enter alphanumeric characters (e.g. the `address` input field in forms using the NSW Point ‘GET Suggested Addresses’ API).\r\n\r\nSpatial Services recommend that developers implement validation in their application to prevent these characters from being entered by end-users to avoid this issue. \r\n\r\nPlease see the following link for additional information on unsafe characters: https://perishablepress.com/stop-using-unsafe-characters-in-urls/\r\n\r\n## Output Format\r\n\r\n**Response Format:** JSON format, typically containing a [GeoJSON](https://geojson.org/) `featureCollection` object.\r\n\r\nThe output includes information for the validated 'property' in the `propertyBundle` object.\r\n\r\nIf  the property has related addresses, they will be provided as a GeoJSON 'featureCollection' object.\r\n\r\nThe 'featureCollection' will contain:\r\n\r\n- a `links` object, which provides the information necessary for implementing pagination.\r\n- One or more address `feature` objects. \r\n\r\nEach 'feature' will include: \r\n\r\n- A `geometry` object containing the geographic coordinates of the address.\r\n- A `properties` object with standard NSW Point address attributes.\r\n- The 'properties' object will also include any 'additionalProperties' requested with the `propertyId ’ e.g. administrative boundaries and parcel information, etc.\r\n\r\n## Related Resources\r\n\r\n- For more information on NSW Property Products that are maintained by Spatial Services, visit our Spatial Collaboration Portal and search for “Land Parcel and Property” https://portal.spatial.nsw.gov.au/portal/home/search.html?q=Land%2BParcel%2Band%2BProperty\r\n\r\n- For more information on Geoscape’s National Property Product, view their product guide here: https://docs.geoscape.com.au/projects/property_guide/en/stable/index.html\r\n\r\n\r\n\r\n",
        "tags": [
          "PROPERTY"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "propertyBundle": [
                        {
                          "propertyPid": "prpARR2KYfn7HUV",
                          "contributorId": "4549869",
                          "dateCreated": "2024-09-22",
                          "state": "NSW",
                          "source": "NSW",
                          "baseProperty": false,
                          "cadastrePids": [
                            "cadZMCxB8exxLgc"
                          ],
                          "parcelIds": [
                            "35/SP107582"
                          ]
                        }
                      ],
                      "type": "FeatureCollection",
                      "links": {
                        "numberMatched": 1,
                        "numberReturned": 1,
                        "self": "/v3/api/property?additionalProperties=asgsMain%2C%20asgsRemoteness%2C%20commonwealthElectorate%2C%20localGovernmentArea%2C%20parcelBundle%2C%20seifa%2C%20stateElectorateBundle&propertyId=4549869&offset=0&limit=1&stateFilter=NSW"
                      },
                      "features": [
                        {
                          "type": "Feature",
                          "geometry": {
                            "coordinates": [
                              151.19594155,
                              -33.81078694
                            ],
                            "type": "Point"
                          },
                          "properties": {
                            "addressId": "GANSW721571577",
                            "formattedAddress": "BUILDING C ACACIA UNIT 301 LEVEL 3 19 RICHMOND AV, WILLOUGHBY NSW 2068",
                            "siteName": "BUILDING C ACACIA",
                            "complexLevelType": "L",
                            "complexLevelTypeDescription": "LEVEL",
                            "complexLevelNumber": "3",
                            "complexUnitType": "UNIT",
                            "complexUnitTypeDescription": "UNIT",
                            "complexUnitIdentifier": "301",
                            "lotIdentifier": "23",
                            "streetNumber1": "19",
                            "streetNumber2": "12",
                            "streetName": "RICHMOND",
                            "streetType": "AV",
                            "streetTypeDescription": "AVENUE",
                            "streetSuffix": "NORTH",
                            "localityName": "WILLOUGHBY",
                            "stateTerritory": "NSW",
                            "postcode": "2068",
                            "jurisdictionId": "86085368",
                            "contributorPropertyId": "4549869",
                            "cadastralIdentifier": "35/SP107582",
                            "aliasPrincipal": "PRINCIPAL",
                            "addressRecordType": "SECONDARY",
                            "geoFeature": "PROPERTY CENTROID",
                            "dataset": "gnaf,continuousAddress",
                            "localityAlias": [
                              "NORTH WILLOUGHBY",
                              "WILLOUGHBY NORTH"
                            ],
                            "localityNeighbour": [
                              "ARTARMON",
                              "CASTLECRAG",
                              "CHATSWOOD",
                              "NAREMBURN",
                              "NORTH WILLOUGHBY",
                              "NORTHBRIDGE",
                              "WILLOUGHBY EAST"
                            ],
                            "localityId": "loc1a695d1744fa",
                            "streetLocalityId": "NSW2882755",
                            "streetAlias": [],
                            "asgsMain": [
                              {
                                "censusYear": 2011,
                                "mbId": "10845640000",
                                "mbCategoryCode": "RESIDENTIAL",
                                "mbDwellingCount": "35",
                                "mbPopCount": "85",
                                "mbAreaSqm": "99005",
                                "sa1Id": "12101140223",
                                "sa2Id": "121011402",
                                "sa2Name": "WILLOUGHBY - CASTLE COVE - NORTHBRIDGE",
                                "sa3Id": "12101",
                                "sa3Name": "CHATSWOOD - LANE COVE",
                                "sa4Id": "121",
                                "sa4Name": "SYDNEY - NORTH SYDNEY AND HORNSBY",
                                "gccsaId": "1GSYD",
                                "gccsaName": "GREATER SYDNEY"
                              },
                              {
                                "censusYear": 2016,
                                "mbId": "10845640000",
                                "mbCategoryCode": "RESIDENTIAL",
                                "mbDwellingCount": "35",
                                "mbPopCount": "88",
                                "mbAreaSqm": "99000",
                                "sa1Id": "12101140223",
                                "sa2Id": "121011402",
                                "sa2Name": "WILLOUGHBY - CASTLE COVE - NORTHBRIDGE",
                                "sa3Id": "12101",
                                "sa3Name": "CHATSWOOD - LANE COVE",
                                "sa4Id": "121",
                                "sa4Name": "SYDNEY - NORTH SYDNEY AND HORNSBY",
                                "gccsaId": "1GSYD",
                                "gccsaName": "GREATER SYDNEY"
                              },
                              {
                                "censusYear": 2021,
                                "mbId": "10845640000",
                                "mbCategoryCode": "Residential",
                                "mbDwellingCount": "31",
                                "mbPopCount": "58",
                                "mbAreaSqm": "99000",
                                "sa1Id": "12101168714",
                                "sa2Id": "121011687",
                                "sa2Name": "Willoughby",
                                "sa3Id": "12101",
                                "sa3Name": "Chatswood - Lane Cove",
                                "sa4Id": "121",
                                "sa4Name": "Sydney - North Sydney and Hornsby",
                                "gccsaId": "1GSYD",
                                "gccsaName": "Greater Sydney"
                              }
                            ],
                            "asgsRemoteness": [
                              {
                                "censusYear": 2011,
                                "categoryCode": "0",
                                "categoryName": "Major Cities of Australia",
                                "code": "10"
                              },
                              {
                                "censusYear": 2016,
                                "categoryCode": "0",
                                "categoryName": "Major Cities of Australia",
                                "code": "10"
                              },
                              {
                                "censusYear": 2021,
                                "code": "10",
                                "pid": "RA21_10",
                                "polygonPid": "RA21P_14",
                                "categoryName": "Major Cities of Australia",
                                "statePid": "1",
                                "areaSqm": "5521905600",
                                "dateCreated": "2023-05-15"
                              }
                            ],
                            "commonwealthElectorate": {
                              "commElectoralName": "BRADFIELD",
                              "commElectoralPid": "NSW58"
                            },
                            "localGovernmentArea": {
                              "lgaName": "Willoughby City Council",
                              "lgaPid": "lgaef8006a5824e",
                              "lgaShortName": "Willoughby"
                            },
                            "parcelBundle": [
                              {
                                "cadastrePid": "cadZMCxB8exxLgc",
                                "contributorId": "185130536",
                                "dateCreated": "2024-06-13",
                                "dateModified": "2024-11-11",
                                "state": "NSW",
                                "lot": "35",
                                "plan": "SP107582",
                                "parcelId": "35/SP107582",
                                "source": "NSW",
                                "contributorStatus": "ITS Title",
                                "titleStatus": "Titled",
                                "parcelType": "Strata",
                                "baseParcel": false,
                                "strataType": "",
                                "totalStrataCount": "43",
                                "horizontalStrataCount": "",
                                "verticalStrataCount": ""
                              }
                            ],
                            "seifa": [
                              {
                                "seifa2021Pid": "SI211168714",
                                "dateCreated": "2023-05-12",
                                "sa12021Pid": "S12112101168714",
                                "population": "530",
                                "censusYear": 2021,
                                "irsadScore": "1132",
                                "irsadAusRank": "54042",
                                "irsadAusDecile": "10",
                                "irsadAusPercent": "92",
                                "irsadStRank": "16030",
                                "irsadStDecile": "9",
                                "irsadStPercent": "85",
                                "irsdScore": "1078",
                                "irsdAusRank": "46907",
                                "irsdAusDecile": "8",
                                "irsdAusPercent": "80",
                                "irsdStRank": "14303",
                                "irsdStDecile": "8",
                                "irsdStPercent": "76",
                                "ierScore": "1017",
                                "ierAusRank": "31411",
                                "ierAusDecile": "6",
                                "ierAusPercent": "53",
                                "ierStRank": "9946",
                                "ierStDecile": "6",
                                "ierStPercent": "53",
                                "ieoScore": "1147",
                                "ieoAusRank": "54725",
                                "ieoAusDecile": "10",
                                "ieoAusPercent": "93",
                                "ieoStRank": "16749",
                                "ieoStDecile": "9",
                                "ieoStPercent": "89"
                              }
                            ],
                            "stateElectorateBundle": [
                              {
                                "status": "effective",
                                "stateElectoralPid": "NSW220",
                                "stateElectoralName": "LEGISLATIVE COUNCIL",
                                "stateElectoralClassCode": "3",
                                "stateElectoralType": "Legislative Council",
                                "dateCreated": "11/05/2015",
                                "dateGazetted": "07/03/2015",
                                "dateEffectiveStart": "28/03/2015"
                              },
                              {
                                "status": "retired",
                                "stateElectoralPid": "NSW221",
                                "stateElectoralName": "LEGISLATIVE COUNCIL",
                                "stateElectoralClassCode": "3",
                                "stateElectoralType": "Legislative Council",
                                "dateCreated": "11/05/2015",
                                "dateGazetted": "21/12/2004",
                                "dateEffectiveStart": "24/03/2007",
                                "dateEffectiveEnd": "27/03/2015"
                              },
                              {
                                "status": "retired",
                                "stateElectoralPid": "NSW173",
                                "stateElectoralName": "WILLOUGHBY",
                                "stateElectoralClassCode": "2",
                                "stateElectoralType": "Legislative Assembly",
                                "dateCreated": "11/05/2015",
                                "dateGazetted": "07/03/2015",
                                "dateEffectiveStart": "28/03/2015",
                                "dateEffectiveEnd": "25/03/2023"
                              },
                              {
                                "status": "effective",
                                "stateElectoralPid": "NSW348",
                                "stateElectoralName": "WILLOUGHBY",
                                "stateElectoralClassCode": "2",
                                "stateElectoralType": "Legislative Assembly",
                                "dateCreated": "12/11/2021",
                                "dateGazetted": "26/08/2021",
                                "dateEffectiveStart": "25/03/2023"
                              }
                            ]
                          },
                          "messages": []
                        }
                      ],
                      "query": "4549869",
                      "messages": [],
                      "attribution": "Use of this data is subject to the NSW Point V3 Terms of Use (https://point.digital.nsw.gov.au/v3/docs/pages/terms-of-use.html)",
                      "requestTimeStamp": 1738895038.766569,
                      "requestDateTime": "2025-02-07T02:23:58.766577"
                    }
                  },
                  "properties": {
                    "propertyBundle": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "propertyPid": {
                            "type": "string"
                          },
                          "contributorId": {
                            "type": "string"
                          },
                          "dateCreated": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          },
                          "source": {
                            "type": "string"
                          },
                          "baseProperty": {
                            "type": "boolean"
                          },
                          "cadastrePids": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "parcelIds": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "numberMatched": {
                          "type": "integer"
                        },
                        "numberReturned": {
                          "type": "integer"
                        },
                        "self": {
                          "type": "string"
                        }
                      }
                    },
                    "features": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "geometry": {
                            "type": "object",
                            "properties": {
                              "coordinates": {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "properties": {
                            "type": "object",
                            "properties": {
                              "addressId": {
                                "type": "string"
                              },
                              "formattedAddress": {
                                "type": "string"
                              },
                              "siteName": {
                                "type": "string"
                              },
                              "complexLevelType": {
                                "type": "string"
                              },
                              "complexLevelTypeDescription": {
                                "type": "string"
                              },
                              "complexLevelNumber": {
                                "type": "string"
                              },
                              "complexUnitType": {
                                "type": "string"
                              },
                              "complexUnitTypeDescription": {
                                "type": "string"
                              },
                              "complexUnitIdentifier": {
                                "type": "string"
                              },
                              "lotIdentifier": {
                                "type": "string"
                              },
                              "streetNumber1": {
                                "type": "string"
                              },
                              "streetNumber2": {
                                "type": "string"
                              },
                              "streetName": {
                                "type": "string"
                              },
                              "streetType": {
                                "type": "string"
                              },
                              "streetTypeDescription": {
                                "type": "string"
                              },
                              "streetSuffix": {
                                "type": "string"
                              },
                              "localityName": {
                                "type": "string"
                              },
                              "stateTerritory": {
                                "type": "string"
                              },
                              "postcode": {
                                "type": "string"
                              },
                              "jurisdictionId": {
                                "type": "string"
                              },
                              "contributorPropertyId": {
                                "type": "string"
                              },
                              "cadastralIdentifier": {
                                "type": "string"
                              },
                              "aliasPrincipal": {
                                "type": "string"
                              },
                              "addressRecordType": {
                                "type": "string"
                              },
                              "geoFeature": {
                                "type": "string"
                              },
                              "dataset": {
                                "type": "string"
                              },
                              "localityAlias": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "localityNeighbour": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "localityId": {
                                "type": "string"
                              },
                              "streetLocalityId": {
                                "type": "string"
                              },
                              "streetAlias": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              },
                              "asgsMain": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "censusYear": {
                                      "type": "integer"
                                    },
                                    "mbId": {
                                      "type": "string"
                                    },
                                    "mbCategoryCode": {
                                      "type": "string"
                                    },
                                    "mbDwellingCount": {
                                      "type": "string"
                                    },
                                    "mbPopCount": {
                                      "type": "string"
                                    },
                                    "mbAreaSqm": {
                                      "type": "string"
                                    },
                                    "sa1Id": {
                                      "type": "string"
                                    },
                                    "sa2Id": {
                                      "type": "string"
                                    },
                                    "sa2Name": {
                                      "type": "string"
                                    },
                                    "sa3Id": {
                                      "type": "string"
                                    },
                                    "sa3Name": {
                                      "type": "string"
                                    },
                                    "sa4Id": {
                                      "type": "string"
                                    },
                                    "sa4Name": {
                                      "type": "string"
                                    },
                                    "gccsaId": {
                                      "type": "string"
                                    },
                                    "gccsaName": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "asgsRemoteness": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "censusYear": {
                                      "type": "integer"
                                    },
                                    "categoryCode": {
                                      "type": "string"
                                    },
                                    "categoryName": {
                                      "type": "string"
                                    },
                                    "code": {
                                      "type": "string"
                                    },
                                    "pid": {
                                      "type": "string"
                                    },
                                    "polygonPid": {
                                      "type": "string"
                                    },
                                    "statePid": {
                                      "type": "string"
                                    },
                                    "areaSqm": {
                                      "type": "string"
                                    },
                                    "dateCreated": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "commonwealthElectorate": {
                                "type": "object",
                                "properties": {
                                  "commElectoralName": {
                                    "type": "string"
                                  },
                                  "commElectoralPid": {
                                    "type": "string"
                                  }
                                }
                              },
                              "localGovernmentArea": {
                                "type": "object",
                                "properties": {
                                  "lgaName": {
                                    "type": "string"
                                  },
                                  "lgaPid": {
                                    "type": "string"
                                  },
                                  "lgaShortName": {
                                    "type": "string"
                                  }
                                }
                              },
                              "parcelBundle": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "cadastrePid": {
                                      "type": "string"
                                    },
                                    "contributorId": {
                                      "type": "string"
                                    },
                                    "dateCreated": {
                                      "type": "string"
                                    },
                                    "dateModified": {
                                      "type": "string"
                                    },
                                    "state": {
                                      "type": "string"
                                    },
                                    "lot": {
                                      "type": "string"
                                    },
                                    "plan": {
                                      "type": "string"
                                    },
                                    "parcelId": {
                                      "type": "string"
                                    },
                                    "source": {
                                      "type": "string"
                                    },
                                    "contributorStatus": {
                                      "type": "string"
                                    },
                                    "titleStatus": {
                                      "type": "string"
                                    },
                                    "parcelType": {
                                      "type": "string"
                                    },
                                    "baseParcel": {
                                      "type": "boolean"
                                    },
                                    "strataType": {
                                      "type": "string"
                                    },
                                    "totalStrataCount": {
                                      "type": "string"
                                    },
                                    "horizontalStrataCount": {
                                      "type": "string"
                                    },
                                    "verticalStrataCount": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "seifa": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "seifa2021Pid": {
                                      "type": "string"
                                    },
                                    "dateCreated": {
                                      "type": "string"
                                    },
                                    "sa12021Pid": {
                                      "type": "string"
                                    },
                                    "population": {
                                      "type": "string"
                                    },
                                    "censusYear": {
                                      "type": "integer"
                                    },
                                    "irsadScore": {
                                      "type": "string"
                                    },
                                    "irsadAusRank": {
                                      "type": "string"
                                    },
                                    "irsadAusDecile": {
                                      "type": "string"
                                    },
                                    "irsadAusPercent": {
                                      "type": "string"
                                    },
                                    "irsadStRank": {
                                      "type": "string"
                                    },
                                    "irsadStDecile": {
                                      "type": "string"
                                    },
                                    "irsadStPercent": {
                                      "type": "string"
                                    },
                                    "irsdScore": {
                                      "type": "string"
                                    },
                                    "irsdAusRank": {
                                      "type": "string"
                                    },
                                    "irsdAusDecile": {
                                      "type": "string"
                                    },
                                    "irsdAusPercent": {
                                      "type": "string"
                                    },
                                    "irsdStRank": {
                                      "type": "string"
                                    },
                                    "irsdStDecile": {
                                      "type": "string"
                                    },
                                    "irsdStPercent": {
                                      "type": "string"
                                    },
                                    "ierScore": {
                                      "type": "string"
                                    },
                                    "ierAusRank": {
                                      "type": "string"
                                    },
                                    "ierAusDecile": {
                                      "type": "string"
                                    },
                                    "ierAusPercent": {
                                      "type": "string"
                                    },
                                    "ierStRank": {
                                      "type": "string"
                                    },
                                    "ierStDecile": {
                                      "type": "string"
                                    },
                                    "ierStPercent": {
                                      "type": "string"
                                    },
                                    "ieoScore": {
                                      "type": "string"
                                    },
                                    "ieoAusRank": {
                                      "type": "string"
                                    },
                                    "ieoAusDecile": {
                                      "type": "string"
                                    },
                                    "ieoAusPercent": {
                                      "type": "string"
                                    },
                                    "ieoStRank": {
                                      "type": "string"
                                    },
                                    "ieoStDecile": {
                                      "type": "string"
                                    },
                                    "ieoStPercent": {
                                      "type": "string"
                                    }
                                  }
                                }
                              },
                              "stateElectorateBundle": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "status": {
                                      "type": "string"
                                    },
                                    "stateElectoralPid": {
                                      "type": "string"
                                    },
                                    "stateElectoralName": {
                                      "type": "string"
                                    },
                                    "stateElectoralClassCode": {
                                      "type": "string"
                                    },
                                    "stateElectoralType": {
                                      "type": "string"
                                    },
                                    "dateCreated": {
                                      "type": "string"
                                    },
                                    "dateGazetted": {
                                      "type": "string"
                                    },
                                    "dateEffectiveStart": {
                                      "type": "string"
                                    },
                                    "dateEffectiveEnd": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "messages": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "query": {
                      "type": "string"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "attribution": {
                      "type": "string"
                    },
                    "requestTimeStamp": {
                      "type": "number"
                    },
                    "requestDateTime": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Example - With address": {
                    "value": {
                      "propertyBundle": [
                        {
                          "propertyPid": "prpdeb24229b8df",
                          "contributorId": "3953275",
                          "dateCreated": "2021-05-18",
                          "dateModified": "2024-09-22",
                          "state": "NSW",
                          "source": "NSW",
                          "baseProperty": true,
                          "cadastrePids": [
                            "cada3841f981b72",
                            "cadcf2c71493d81"
                          ],
                          "parcelIds": [
                            "277/821883",
                            "279/823425"
                          ]
                        }
                      ],
                      "type": "FeatureCollection",
                      "links": {
                        "numberMatched": 1,
                        "numberReturned": 1,
                        "self": "/v3/api/property?propertyId=3953275&offset=0&limit=1&stateFilter=NSW"
                      },
                      "features": [
                        {
                          "type": "Feature",
                          "geometry": {
                            "coordinates": [
                              149.56705011,
                              -33.42968426
                            ],
                            "type": "Point"
                          },
                          "properties": {
                            "addressId": "GANSW704038094",
                            "formattedAddress": "346 PANORAMA AV, BATHURST NSW 2795",
                            "lotIdentifier": "279",
                            "streetNumber1": "346",
                            "streetName": "PANORAMA",
                            "streetType": "AV",
                            "streetTypeDescription": "AVENUE",
                            "localityName": "BATHURST",
                            "stateTerritory": "NSW",
                            "postcode": "2795",
                            "jurisdictionId": "80490380",
                            "contributorPropertyId": "3953275",
                            "cadastralIdentifier": "279/823425",
                            "aliasPrincipal": "PRINCIPAL",
                            "addressRecordType": "PRIMARY",
                            "geoFeature": "BUILDING CENTROID",
                            "dataset": "gnaf,mailAddress,continuousAddress",
                            "localityAlias": [],
                            "localityNeighbour": [
                              "GORMANS HILL",
                              "KELSO",
                              "MITCHELL",
                              "SOUTH BATHURST",
                              "WEST BATHURST"
                            ],
                            "localityId": "locf86b5c9a1b6f",
                            "streetLocalityId": "NSW2902062",
                            "streetAlias": []
                          },
                          "messages": []
                        }
                      ],
                      "query": "3953275",
                      "messages": [],
                      "attribution": "Use of this data is subject to the NSW Point V3 Terms of Use (https://point.digital.nsw.gov.au/v3/docs/pages/terms-of-use.html)",
                      "requestTimeStamp": 1738901799.440424,
                      "requestDateTime": "2025-02-07T04:16:39.440434"
                    }
                  },
                  "Example - Without address": {
                    "value": {
                      "propertyBundle": [
                        {
                          "propertyPid": "prp38aaa4688fb8",
                          "contributorId": "3953276",
                          "dateCreated": "2021-05-18",
                          "dateModified": "2024-09-22",
                          "state": "NSW",
                          "source": "NSW",
                          "baseProperty": true,
                          "cadastrePids": [
                            "cad6c1a73daf851"
                          ],
                          "parcelIds": [
                            "267/820952"
                          ]
                        }
                      ],
                      "query": "3953276",
                      "messages": [
                        "Address and additionalProperties are unavailable for this propertyId"
                      ],
                      "attribution": "Use of this data is subject to the NSW Point V3 Terms of Use (https://point.digital.nsw.gov.au/v3/docs/pages/terms-of-use.html)",
                      "requestTimeStamp": 1738902196.059093,
                      "requestDateTime": "2025-02-07T04:23:16.059093"
                    }
                  }
                }
              }
            },
            "headers": {
              "Accept-Crs": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "<https://www.opengis.net/def/crs/EPSG/0/4283>",
                    "<https://www.opengis.net/def/crs/EPSG/0/7844>",
                    "<https://www.opengis.net/def/crs/EPSG/0/4326>",
                    "<https://www.opengis.net/def/crs/EPSG/0/4202>"
                  ],
                  "default": "<https://www.opengis.net/def/crs/EPSG/0/4283>"
                },
                "description": "A comma-separated list of the supported Coordinate Reference System; enclosed in angle brackets. Preference is determined by quality values."
              },
              "Content-Crs": {
                "schema": {
                  "type": "string",
                  "default": "<https://www.opengis.net/def/crs/EPSG/0/4283>",
                  "enum": [
                    "<https://www.opengis.net/def/crs/EPSG/0/4283>",
                    "<https://www.opengis.net/def/crs/EPSG/0/7844>",
                    "<https://www.opengis.net/def/crs/EPSG/0/4326>",
                    "<https://www.opengis.net/def/crs/EPSG/0/4202>"
                  ]
                },
                "description": "Coordinate Reference System of response"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-internal": false
      },
      "parameters": []
    },
    "/api/getSuggestedAddresses": {
      "get": {
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 4,
              "maxLength": 50,
              "example": "346 Pan"
            },
            "required": true,
            "description": "An alphanumeric string containing partial address information"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "physical",
                "mailing",
                "all"
              ],
              "default": "all"
            },
            "in": "query",
            "name": "addressType",
            "description": "Allows users to specify which type of address they want returned.e.g.,mailing, physical"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "NSW",
                "VIC",
                "WA",
                "TAS",
                "NT",
                "SA",
                "ACT"
              ]
            },
            "in": "query",
            "name": "stateFilter",
            "description": "Users can filter API responses by specific Australian states and territories. Multiple Australian states and territories API responses are allowed to be separated by commas"
          },
          {
            "schema": {
              "type": "integer",
              "default": 5,
              "minimum": 1,
              "maximum": 20
            },
            "in": "query",
            "name": "maxResults",
            "description": "Maximum number of address suggestions to return"
          },
          {
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "gnaf",
                "gnalive",
                "mailAddress"
              ]
            },
            "in": "query",
            "name": "dataset",
            "description": "Provides the user with the ability to specify the dataset used to suggest addresses through a coma seperated list of allowed values"
          },
          {
            "schema": {
              "type": "string",
              "default": "false",
              "enum": [
                "true",
                "false"
              ]
            },
            "in": "query",
            "name": "excludeAliases",
            "description": "To exclude alias addresses from results"
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "arn:aws:apigateway:ap-southeast-2:lambda:path/2015-03-31/functions/arn:aws:lambda:ap-southeast-2:930692708828:function:getSuggestedAddresses-alpha/invocations",
          "passthroughBehavior": "when_no_match"
        },
        "tags": [
          "ADDRESS"
        ],
        "summary": "GET Suggested Addresses",
        "description": "This API functions as an **address suggestion engine**, designed for integration into online forms where customer addresses are entered. The API generates accurate address suggestions based on the customer's input and presents the response as an array that can be used in a selectable drop-down list. Address suggestions provided by the API are sourced from national authoritative physical and postal address datasets. \n\nOnce a customer selects an address from the suggestions, its `addressId` can be used in the **GET Address by ID** API to retrieve additional details about the address and its location.\n\n# Benefits \n\nUsing this API to assist in capturing customer addresses provides significant benefits, such as automated data entry, accurate data maintenance, compliance and reporting, enhanced user experience when completing forms, and immediate corrections and suggestions as users enter address details.\n\n# Implementation and Best Practice\n\n## Input Format\n\nThe `address` is the only required parameter for this API. It should contain an alphanumeric string that represents partial address information provided by an end user e.g. `address=346 Pan`. \n\nThe API also includes the following customisable parameters: \n \n- `maxResults` \n- `stateFilter`\n- `dataset`\n- `addressType`\n- `excludeAliases`\n\n## Output Format\n\n**Response Format:** [JSON](https://www.json.org/json-en.html) \n\nThe API response will include an array containing:\n\n- Valid `address` suggestions based on upon customer input. \n- A unique `id` for each address. \n- A `rank` system that determines the order in which addresses appear in the drop-down list when multiple addresses are returned.\n\n## API Behaviour\n\nThis API requires the input of partial address information as a single string e.g. `address=346 Pan` \n\nBy default, it will return a JSON response containing up to five suggestions based on the `address` value. \n\n### Fuzzy Matching:\n\nThis API uses advanced machine learning to:\n\n- Deliver fast and accurate address suggestions from authoritative datasets as customers type.\n- Allow for spelling errors in street names and localities during address entry.\n- Support locality alias and neighbour matching, recognising when users input incorrect or neighbouring locality names, and provide suggestions with the correct authoritative locality name.\n- Offer enhanced error tolerance for street numbers and street types, accommodating user mistakes or formatting errors in these elements.\n\n## Customising the request for your application\n\nIt is possible to customise the API request based on your project or application requirements. \n\nThe following options are available:\n\n### Maximum number of address suggestions returned\n\nThe `maxResults` parameter allows you to set the maximum number of suggested addresses returned in the API response. The actual number of suggestions returned will depend on how many successful matches are found for the 'address' value. The `maxResults` value must be a number between 1 and 20, with a default of 5.\n\nExample: `maxResults=10`\n\n### State/Territory Filtering \n\nYou can use the `stateFilter` parameter to restrict the API's suggestions to one or more specific Australian states or territories. Separate each state or territory with a comma. This is useful when you need customers to receive suggestions only from the nominated states and territories. If `stateFilter` is not used, the API will return suggestions from all Australian states and territories.\n\nExample: `stateFilter=NSW,QLD`\n\n### Source Dataset Filtering \n\nThe `dataset` parameter allows you to nominate the dataset you are returning your address suggestions from. \n\nDataset options include:\n\n\nDataset  | Description  | Example\n---------|----------|---------\n **GNAF** | The most comprehensive national address dataset (updated quarterly)| `dataset=gnaf`\n **GNAF Live/Geoscape continuousAddress** | The most current address dataset (updated daily from the Australian State and Territory address authorities) |  `dataset=gnaflive`\n **Geoscape Mail Address** | Postal address suggestions derived from Australia Post’s PAF dataset, including PO Boxes, RMB etc (Updated quarterly)  | `dataset=mailAddress`\n\nYou can combine values together into a comma separated string to query multiple datasets at the same time. If no dataset is nominated, suggestions will be returned from all datasets.  \n\nExample: `dataset=gnaflive,mailAddress`\n\n### Physical/Postal Address Filtering\n\nThe `addressType` parameter lets you restrict the suggestions returned by the API to either ‘physical’ or ‘mailing’ addresses when needed. If `addressType` is not included in your request, both types will be suggested by default.\n\n\n| addressType | Description |\n|----------|----------|\n| **Physical addresses**     | addresses assigned to a physical location within NSW or Australia. Many physical addresses are also mailing addresses (e.g., most people receive mail at their physical home address). However, some locations and properties assigned a physical address by authorities do not receive mail (e.g., an empty rural paddock, public park, or vacant railway land).      |\n| **Mailing addresses**      | addresses that are recognised by Australia Post for the delivery of mail services. Mailing addresses include some physical addresses that receive mail (e.g., your home address) as well as postal-only addresses such as PO Boxes, GPO Boxes or RMB addresses.       |\n\n\n\nExample: `addressType=mailing`\n\n\n### Alias/Principal Address Filtering\n\nThe `excludeAliases` parameter determines whether alias addresses are included in suggestions. **Alias addresses** are non-authoritative addresses that have been provided by an address contributor or determined by programmatically. For example, 10-12 SMITH STREET could be an alias for the principal address 10 SMITH STREET. By default, alias suggestions are included in the API response. \n\nAccepted values for the `excludeAliases` parameter are:\n\n- **true**: Excludes alias addresses, using only the principal dataset (GNAF-live).\n- **false** (default): Includes alias addresses.\n\nExample: `excludeAliases=true`\n\n## Suggestions for implementation\n\nIt is recommended that the following techniques are implemented in your application to reduce the number of API calls required. \n\n### Implement a “Minimum Four Keystrokes” Rule\n\nThe `address` parameter requires a minimum of **four characters** in the input string to return any address suggestions. Configure your application to send requests only after your end users' fourth keystroke. \n\n### Debouncing\n\nConfigure your application to include a debounce strategy. e.g. time delayed requests, or delay sending requests until there is a pause in user’s input.\n\n### Handling for special characters \"^\" and \"%\"\n\nThe following special characters, `^` and `%`, are considered \"unsafe\" for use in URLs. Including these characters will result in an error in the client’s browser, preventing the request from being sent to the NSW Point Server. \n\nThis issue can occur in any input field on a web form where users can enter alphanumeric characters (e.g. the `address` input field in forms using the NSW Point ‘GET Suggested Addresses’ API).\n\nSpatial Services recommend that developers implement validation in their application to prevent these characters from being entered by end-users to avoid this issue. \n\nPlease see the following link for additional information on unsafe characters: https://perishablepress.com/stop-using-unsafe-characters-in-urls/\n\n### Implementation of a ‘I can’t find my address’ solution \n\nIt is recommended that you implement functionality in your application that allows your customers to proceed with their service request or transaction if their address is not returned as a suggestion. This will provide your customers with a better experience by offering them an alternative option for entering their address. For more information on what an “I can’t find my address” solution might include, please [contact us.](https://point.digital.nsw.gov.au/v3/docs/pages/contact-us.html)\n\n\n",
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "Accept": {
                "schema": {
                  "type": "string"
                },
                "description": "application/json"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "suggest": [
                        {
                          "address": "346 PANORAMA AV, BATHURST NSW 2795",
                          "id": "GANSW704038094",
                          "rank": 0
                        }
                      ]
                    }
                  },
                  "properties": {
                    "suggest": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "address",
                          "id",
                          "rank"
                        ],
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "The suggested address based on the user's input string. It typically includes the street number, street name, suburb, state, postal code."
                          },
                          "id": {
                            "type": "string",
                            "description": "A unique ID that is used in the GET Address Details by ID (V3PAV2) API to return additional details about an address, such as the parsed address or the geocode."
                          },
                          "rank": {
                            "type": "integer",
                            "description": "A numeric value representing the position that the address should be displayed in the list of address suggestions. Values will range from \"0\" - the first suggestion as the best match, to a maximum of \"19\" - the last suggestion."
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "": {
                    "value": {
                      "suggest": [
                        {
                          "address": "346 PANORAMA AV, BATHURST NSW 2795",
                          "id": "GANSW704038094",
                          "rank": 0
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/getAddressDetails": {
      "get": {
        "parameters": [
          {
            "name": "addressId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "An address sourced from GNAF e.g.“GANSW718129285”, An address sourced from GNAF Live e.g.“add6ccf666f211a”,  An address sourced from MailPoint (PAF) e.g.“MA9589716”"
            },
            "description": "An alphanumeric string that provides a link to a known address that is available through NSW Point services "
          },
          {
            "name": "additionalProperties",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asgsMain",
                "asgsRemoteness",
                "commonwealthElectorate",
                "localGovernmentArea",
                "parcelBundle",
                "propertyBundle",
                "seifa",
                "stateElectorateBundle"
              ]
            },
            "description": "A comma-separated list of additional properties to be included in the response. E.g. asgsMain, localGovernmentArea, stateElectorateBundle"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "<https://www.opengis.net/def/crs/EPSG/0/4283>",
                "<https://www.opengis.net/def/crs/EPSG/0/7844>",
                "<https://www.opengis.net/def/crs/EPSG/0/4326>",
                "<https://www.opengis.net/def/crs/EPSG/0/4202>"
              ],
              "example": "<https://www.opengis.net/def/crs/EPSG/0/7844>",
              "default": "<https://www.opengis.net/def/crs/EPSG/0/4283>"
            },
            "in": "header",
            "description": "Use this header to define the Coordinate Reference System (CRS) that you would like the API to return your response in ",
            "name": "Accept-Crs "
          }
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "aws_proxy",
          "httpMethod": "POST",
          "uri": "arn:aws:apigateway:ap-southeast-2:lambda:path/2015-03-31/functions/arn:aws:lambda:ap-southeast-2:930692708828:function:getAddressDetails-alpha/invocations",
          "passthroughBehavior": "when_no_match"
        },
        "operationId": "",
        "summary": "GET an Address by ID",
        "tags": [
          "ADDRESS"
        ],
        "description": "The **Get an Address by ID** API is an Address ID verification and location information service.\r\n\r\nCustomers can submit an `addressId` for a physical or postal address that is sourced from the **Get Suggested Address** API and return a variety of address and location-related information.\r\n\r\n# Benefits\r\n\r\nPaired with the **Get Suggested Address** API, the **Get an Address by ID** API enhances address data quality and consistency. The API offers:\r\n\r\n- Authoritative national address data in a parsed and unparsed format\r\n- Cadastral, coordinate and property information.\r\n- Administrative boundaries (Local Government Areas, State and Federal Electoral Divisions, ASGS Meshblock, Remoteness, SEIFA information).\r\n- Customisable Coordinate Reference Systems (GDA94, GDA2020, WGS84, AGD66).\r\n\r\n# Implementation and Best Practice\r\n\r\n## Input Format\r\n\r\nThis API requires the input of a `addressId` as a single alphanumeric string. \r\n\r\nAccepted formats include:\r\n\r\n| Dataset | example |\r\n|----------|----------|\r\n| **GNAF**      | `addressId=GANSW718129285`       |\r\n| **GNAF Live/Geoscape continuousAddress**       | `addressId=add6ccf666f211a`       |\r\n| **Geoscape mailAddress**       | `addressId=MA9589716`       |\r\n\r\n\r\n\r\nThe API includes optional parameters that allow you to customise the response format and content to suit your application's needs.\r\n\r\n\r\n### Requesting 'additionalProperties' for address locations\r\n\r\nThe API includes functionality that allows you to request a variety of additional information related to the physical address location. These items can be requested using the `additionalProperties` parameter. \r\n\r\nThe following additional properties are available:\r\n\r\n- `asgsMain` \r\n- `asgsRemoteness` \r\n- `commonwealthElectorate`\r\n- `localGovernmentArea` \r\n- `parcelBundle`\r\n- `propertyBundle`\r\n- `seifa`\r\n- `stateElectorateBundle`\r\n\r\nExample: `additionalProperties=parcelBundle,localGovernmentArea`\r\n\r\nFor more information on `additionalProperties` values and administrative boundary data, please refer to our [Additional Properties Knowledge Base Article](https://point.digital.nsw.gov.au/v3/docs/pages/knowledge-base.html#additional-properties).\r\n\r\n### Requesting geographic coordinates in a different reference system\r\n\r\nThe API can be configured to return the geographic coordinates in the response using the `Accept-Crs` parameter in your request header. \r\n\r\nThe following Coordinate Reference Systems are supported:\r\n\r\n**Supported CRS** | **Parameter Value**\r\n---------|----------\r\n **GDA2020** | `<https://www.opengis.net/def/crs/EPSG/0/7844>`  \r\n **GDA94**| `<https://www.opengis.net/def/crs/EPSG/0/4283>`  \r\n **WGS84** | `<https://www.opengis.net/def/crs/EPSG/0/4326>` \r\n**AGD66** | `<https://www.opengis.net/def/crs/EPSG/0/4202>`\r\n\r\nExample: `Accept-Crs=<https://www.opengis.net/def/crs/EPSG/0/7844>`\r\n\r\nYou can find more information about Accept-CRS and Coordinate Reference Systems [here.](https://www.spatial.nsw.gov.au/__data/assets/pdf_file/0020/230429/Common_Australian_EPSG_Codes_and_Transformations_Information_Sheet.pdf)\r\n\r\n## Output Format\r\n\r\n**Response Format:** [GeoJSON](https://geojson.org/)\r\n\r\n**Object Style:** `feature`\r\n\r\nThe API output will include the address information for the validated `addressId` within a single address 'feature' object.\r\n\r\nAddress features will include the following:\r\n\r\n- A `geometry` object that contains the geographic coordinates for the address. \r\n- A `properties` object that includes parsed and unparsed address information and other address attributes.\r\n- The 'properties' of each 'feature' will also include any 'additionalProperties' that were requested with the 'parcelId' e.g. administrative boundaries and property information, etc.\r\n\r\n> Address Id’s that are sourced from the **mailAddress** dataset will return a geometry object that contains `\"coordinates\":[null,null]` because postal-only addresses do not include spatial information.\r\n\r\n\r\n\r\n\r\n\r\n",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "type": "Feature",
                      "geometry": {
                        "coordinates": [
                          149.5658719920448,
                          -33.43124924258171
                        ],
                        "type": "Point"
                      },
                      "properties": {
                        "addressId": "GANSW704038094",
                        "formattedAddress": "346 PANORAMA AV, BATHURST NSW 2795",
                        "lotIdentifier": "279",
                        "streetNumber1": "346",
                        "streetName": "PANORAMA",
                        "streetType": "AV",
                        "streetTypeDescription": "AVENUE",
                        "localityName": "BATHURST",
                        "stateTerritory": "NSW",
                        "postcode": "2795",
                        "jurisdictionId": "80490380",
                        "contributorPropertyId": "3953275",
                        "cadastralIdentifier": "279/823425",
                        "aliasPrincipal": "PRINCIPAL",
                        "addressRecordType": "PRIMARY",
                        "geoFeature": "BUILDING CENTROID",
                        "dataset": "gnaf,mailAddress,continuousAddress",
                        "localityAlias": [],
                        "localityNeighbour": [
                          "GORMANS HILL",
                          "KELSO",
                          "MITCHELL",
                          "SOUTH BATHURST",
                          "WEST BATHURST"
                        ],
                        "localityId": "locf86b5c9a1b6f",
                        "streetLocalityId": "NSW2902062",
                        "streetAlias": [],
                        "asgsMain": [
                          {
                            "censusYear": 2011,
                            "mbId": "10051731000",
                            "mbCategoryCode": "EDUCATION",
                            "mbDwellingCount": "3",
                            "mbPopCount": "31",
                            "mbAreaSqm": "199023",
                            "sa1Id": "10301105814",
                            "sa2Id": "103011058",
                            "sa2Name": "BATHURST",
                            "sa3Id": "10301",
                            "sa3Name": "BATHURST",
                            "sa4Id": "103",
                            "sa4Name": "CENTRAL WEST",
                            "gccsaId": "1RNSW",
                            "gccsaName": "REST OF NSW"
                          },
                          {
                            "censusYear": 2016,
                            "mbId": "10051731000",
                            "mbCategoryCode": "EDUCATION",
                            "mbDwellingCount": "0",
                            "mbPopCount": "19",
                            "mbAreaSqm": "202200",
                            "sa1Id": "10301105814",
                            "sa2Id": "103011058",
                            "sa2Name": "BATHURST",
                            "sa3Id": "10301",
                            "sa3Name": "BATHURST",
                            "sa4Id": "103",
                            "sa4Name": "CENTRAL WEST",
                            "gccsaId": "1RNSW",
                            "gccsaName": "REST OF NSW"
                          },
                          {
                            "censusYear": 2021,
                            "mbId": "10051731000",
                            "mbCategoryCode": "Education",
                            "mbDwellingCount": "0",
                            "mbPopCount": "0",
                            "mbAreaSqm": "202200",
                            "sa1Id": "10301161211",
                            "sa2Id": "103011612",
                            "sa2Name": "Bathurst - South",
                            "sa3Id": "10301",
                            "sa3Name": "Bathurst",
                            "sa4Id": "103",
                            "sa4Name": "Central West",
                            "gccsaId": "1RNSW",
                            "gccsaName": "Rest of NSW"
                          }
                        ],
                        "asgsRemoteness": [
                          {
                            "censusYear": 2011,
                            "categoryCode": "1",
                            "categoryName": "Inner Regional Australia",
                            "code": "11"
                          },
                          {
                            "censusYear": 2016,
                            "categoryCode": "1",
                            "categoryName": "Inner Regional Australia",
                            "code": "11"
                          },
                          {
                            "censusYear": 2021,
                            "code": "11",
                            "pid": "RA21_11",
                            "polygonPid": "RA21P_134",
                            "categoryName": "Inner Regional Australia",
                            "statePid": "1",
                            "areaSqm": "93342357100",
                            "dateCreated": "2023-05-15"
                          }
                        ],
                        "commonwealthElectorate": {
                          "commElectoralName": "CALARE",
                          "commElectoralPid": "NSW59"
                        },
                        "localGovernmentArea": {
                          "lgaName": "Bathurst Regional Council",
                          "lgaPid": "lga098f9fe7f215",
                          "lgaShortName": "Bathurst Regional"
                        },
                        "parcelBundle": [
                          {
                            "cadastrePid": "cada3841f981b72",
                            "contributorId": "101524779",
                            "dateCreated": "2021-05-18",
                            "dateModified": "2024-11-11",
                            "state": "NSW",
                            "lot": "279",
                            "plan": "DP823425",
                            "parcelId": "279/823425",
                            "source": "NSW",
                            "contributorStatus": "ITS Title",
                            "titleStatus": "Titled",
                            "parcelType": "Lot",
                            "baseParcel": true
                          }
                        ],
                        "propertyBundle": [
                          {
                            "propertyPid": "prpdeb24229b8df",
                            "contributorId": "3953275",
                            "dateCreated": "2021-05-18",
                            "dateModified": "2024-09-22",
                            "state": "NSW",
                            "source": "NSW",
                            "baseProperty": true,
                            "cadastrePids": [
                              "cadcf2c71493d81",
                              "cada3841f981b72"
                            ],
                            "parcelIds": [
                              "277/821883",
                              "279/823425"
                            ]
                          }
                        ],
                        "seifa": [
                          {
                            "seifa2021Pid": "SI211161211",
                            "dateCreated": "2023-05-12",
                            "sa12021Pid": "S12110301161211",
                            "population": "202",
                            "censusYear": 2021,
                            "irsadScore": "1037",
                            "irsadAusRank": "36910",
                            "irsadAusDecile": "7",
                            "irsadAusPercent": "63",
                            "irsadStRank": "10691",
                            "irsadStDecile": "6",
                            "irsadStPercent": "57",
                            "irsdScore": "1056",
                            "irsdAusRank": "39872",
                            "irsdAusDecile": "7",
                            "irsdAusPercent": "68",
                            "irsdStRank": "12321",
                            "irsdStDecile": "7",
                            "irsdStPercent": "66",
                            "ierScore": "992",
                            "ierAusRank": "25842",
                            "ierAusDecile": "5",
                            "ierAusPercent": "44",
                            "ierStRank": "8345",
                            "ierStDecile": "5",
                            "ierStPercent": "45",
                            "ieoScore": "1029",
                            "ieoAusRank": "36173",
                            "ieoAusDecile": "7",
                            "ieoAusPercent": "61",
                            "ieoStRank": "10621",
                            "ieoStDecile": "6",
                            "ieoStPercent": "56"
                          }
                        ],
                        "stateElectorateBundle": [
                          {
                            "status": "effective",
                            "stateElectoralPid": "NSW220",
                            "stateElectoralName": "LEGISLATIVE COUNCIL",
                            "stateElectoralClassCode": "3",
                            "stateElectoralType": "Legislative Council",
[...]
